/***********************************
Navigation bar
************************************/
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  min-height: 60px
}

.navbar-nav li a {
  padding:0 15px;
  line-height:60px;
}
.navbar-header a {
  padding:0 15px;
  line-height:60px;
}

.navbar-default .navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 15px;
  line-height: 60px;
  height: auto;
  .icon {
    //padding: 4px;
    img {
      height: 40px;
    }
  }
  p{
    font-size: 40px;
    margin: 0px;
  }
}