.container
  %h1
    Contact Us!
  %p
    Feel free to contact us if you have any questions at all!
  %table.table.table-striped
    %thead
      %tr
        %th Department
        %th Email
    %tbody
      %tr
        %td Chair
        %td chair@qsus.ca
      %tr
        %td Sponsorship Coordinator
        %td sponsorship@qsus.ca
      %tr
        %td Delegates Coordinator
        %td delegates@qsus.ca
      %tr
        %td Speakers Coordinator
        %td speakers@qsus.ca
      -#%tr
      -#  %td Logistics
      -#  %td logistics@qsus.ca

